<%= f = form_for @changeset, "#",
  id: "device-form",
  class: "p-4",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>
  <div class="w-full px-3">
    <%= label f, :name, class: "form-label" %>
    <%= error_tag f, :name %>
    <%= text_input f, :name, class: "form-text-input" %>
  </div>

  <div class="w-full px-3">
    <%= submit "Save", phx_disable_with: "Saving...", class: "form-nav" %>
  </div>
</form>
