<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Noven", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-purple-200">
    <nav class="flex items-center justify-between flex-wrap bg-purple-500 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Noven Print</span>
      </div>

      <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-purple-200 border-purple-400 hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>

      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
          <%= link "Dashboard", to: Routes.page_path(@conn, :index), class: "nav-link" %>
          <%= link "Devices", to: Routes.device_index_path(@conn, :index), class: "nav-link" %>
          <%= link "Printers", to: Routes.page_path(@conn, :index), class: "nav-link" %>
        </div>
        <div>
          <%= if @current_user do %>
            <a href="<%=Routes.user_settings_path(@conn, :edit)%>" class="block mt-4 lg:inline lg:mt-0 text-purple-200 hover:text-white text-sm">
              <img class="w-10 h-10 rounded-full mr-1 inline" src="<%= gravitar_url(@current_user) %>">
            <%= @current_user.email %>
            </a>
          <% else %>
            <%= link "Sign in", to: Routes.user_session_path(@conn, :new), class: "block mt-4 lg:inline lg:mt-0 text-purple-200 hover:text-white px-2" %>
            <%= link "Sign up", to: Routes.user_registration_path(@conn, :new), class: "block mt-4 lg:inline lg:mt-0 text-purple-200 hover:text-white" %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
</html>
